extends layout.pug 


block style 
     style 
        include ../static/style.css


block content 
    body 
            
            section#introSection 
                | section intro 
            
            
            section#OurMissonSection 
                h1 OUR MISSION 

                div.container
                    div.card 
                        h4 DANCE PERFECT
                        div.card-img
                            img(src="/static/d1.png")
                
                    div.card 
                        h4 DANCE PE CHANCE
                        div.card-img
                            img(src="/static/d2.png")
                
                    div.card 
                        h4 AMAZING PERFECTION
                        div.card-img
                            img(src="/static/d3.png")   
            

            section#sponserSection 
                | section Sponser


                div#sponserContainer 
                


